.all{
    
    background-color: #f2efdc;
}


.imagePart{
    width:28%;
    height: 10rem;
    background-color:#254C36;
    border-radius: 25rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}
.textPart{
    width:72%;
    height:10rem;
    background-color: #97B18E;
    border-radius: 25rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;

}
.iOne{
        
        display: flex;
    justify-content: space-between;
  align-items: center;        
}
.iTwo{
    display: flex;
    justify-content: space-between;
  align-items: center;
}
.iThree{
    display: flex;
    justify-content: space-between;
  align-items: center;      
}

/* Pictures */
.pic1,.pic2,.pic3{
     width: 9.5rem; height: 9.5rem;
     overflow: hidden;
      border-radius: 50%;
     display:inline-flex;
     
    /* justify-content: right; */
 
}
/* .pic1 img,.pic2 img ,.pic3 img{ width: 100%; height: 100%; } */
.pic1,.pic3{
    margin-left:15rem;
}
.pic2{
    margin-right: 15rem;
}