.introAll{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top:1rem;
    margin-bottom: 1rem;
}


.imagePart{
    height: 12rem;
    width:25%;
    border-radius :25rem;
    
    display:flex;
   
    overflow: auto;
    padding:0rem 1rem 0rem 1rem;
    background-color: #254C36;
}
.textPart{
    width:72%;
    height:10rem;
    background-color: #97B18E;
    border-radius: 25rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    font-size: 1.2rem;
    font-weight: 600;
    padding:2rem 3rem 0rem 3rem;
    align-items: center;

}
.iOne{
        
        display: flex;
    justify-content: space-between;
  align-items: center;  
  margin-bottom: 1rem;      
}
.iTwo{
    display: flex;
    justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.iThree{
    display: flex;
    justify-content: space-between;
  align-items: center;      
}

/* Pictures */
.pic1,.pic2,.pic3{
     width: 11.5rem; height: 11.5rem;
     overflow: hidden;
      border-radius: 50%;
     display:inline-flex;
     
    /* justify-content: right; */
 
}
.pic1 img,.pic2 img ,.pic3 img{ width: 100%; height: 100%; }
 .pic1,.pic3{
    float: right;
    text-align: right;
} 
@media screen and (max-width: 786px) {
    .textPart{
        width:72%;
        height:10rem;
        background-color: #97B18E;
        border-radius: 25rem;
        margin-left: 0.8rem;
        margin-right: 0.8rem;
        font-size: 1.2rem;
        font-weight: 500;
        padding:2rem 3rem 0rem 3rem;
        align-items: center;
    }
    .pic1,.pic2,.pic3{
        width: 11.5rem; height: 11.5rem;
        overflow: hidden;
         border-radius: 50%;
        display:inline-flex;
        
        
       /* justify-content: right; */
    
   }
   .imagePart{
    width: 11.5rem; height: 11.5rem;
    overflow: hidden;
     border-radius: 50%;
    display:inline-flex;
}
  }

