.card_wrapper {
    margin-top: 4rem;
    width: 16rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    align-items: center;
    gap: 2rem;
    border-radius: 0.75rem;
    background-color: var(--green-primary);
  }
  
  .card_box1 {
    background-color: var(--green-secondary);
    padding: 1rem;
    border-radius: 0 0 50% 50%;
  }
  
  .card_img_cont {
    border: 12px solid;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card_img_cont img {
    overflow: hidden;
  }
  
  .card_box2 {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;
  }
  
  .title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
  }
  
  .subtitle {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-style: italic;
  }
  