@import url("bootstrap/dist/css/bootstrap.min.css");

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Amaranth&family=DM+Serif+Display&display=swap");

* {
  /* background-color: #f2efdc; */
  /* padding:2px; */
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Alegreya Sans", "Amaranth",
    "DM Serif Display", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-primary: #97b18e;
  --green-secondary: #166534;
  --card-img-border: #d65252;
  --gray-primary: #6b7280;
}
.card-shadow {
  -webkit-box-shadow: 10px 10px 7px 3px rgba(154, 155, 171, 1);
  -moz-box-shadow: 10px 10px 7px 3px rgba(154, 155, 171, 1);
  box-shadow: 10px 10px 7px 3px rgba(154,155,171,1);
}
