.desktop {
  background-color: #f2efdc;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 2rem 15rem 2rem 15rem;
}

.overlap-group {
  background-image: url("../Assets/backga.png");
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  margin: 1%;
  top: 6rem;
}

.overlap-group > h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}

.dekstop {
  margin: 2rem;
}
.welcome-to-madhuvann {
  display: inline;
}
.welcome {
  /* font-weight: bolder; */
  font-size: 2.9rem;
}
.gsu-wildlife-center {
  height: 15rem;
}
.environment-earth {
  height: 15rem;
}
.ourmission {
  display: flex;
}
.text-wrapper {
  width: 50%;
  margin: 2rem;
}
.text-holo {
}
.environment-earth {
  width: 50%;
}
.textholo {
  display: flex;
}
.text {
  padding: 2rem;
}
.text-wrapper3 {
  display: flex;
}
.mission {
  padding-left: 2rem;
  padding-bottom: 3rem;
}
.headAbout {
  text-decoration: underline;
}
.element {
  margin-bottom: 2.6rem;
}
