.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

.square {
  position: relative;
  height: 12em;
  width: 12em;
  background-color: black;
}

.holoimage {
  width: 12em;
  height: 12em;
  background-size: cover;
  filter: brightness(120%);
}
.flex {
  display: flex;
}

.left {
  transform: rotate(-90deg);
}

.right {
  transform: rotate(90deg);
}

.bottom {
  transform: rotate(180deg);
  text-align: center;
}
.top {
  text-align: center;
}
