.card_container {
  max-width: 75rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.container {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
}