.parent {
  display: flex;
  justify-content: space-evenly;
}

.child {
  flex-basis: auto;
}
.image {
  max-width: 50vw;
  padding-bottom: 1.5em;
}

#part1 {
  font-size: 4vw;
  padding-left: 3rem;
  padding-right: 1rem;
}
#part2 {
  font-size: 1.75vw;
  padding-left: 3rem;
  padding-right: 1rem;
}

p {
  justify-content: center;
  align-content: center;
}

/* Number */
.number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10rem;
  padding-right: 10rem;
  font-size: 2vw;
  color: #254c36;

  padding-bottom: 1rem;
}

/* Tiles with Image */

.textColor1 {
  font-size: 55px;
  padding-left: 60px;
  color: #254c36;
}

/* Lets BeginButton */

.letsbegin {
  border-radius: 1em 0% 1em 0%;
  width: 8rem;
  height: 3rem;

  font-family: -apple-system, BlinkMacSystemFont, "Alegreya Sans", "Amaranth",
    "DM Serif Display", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  background-color: #254c36;
  color: whitesmoke;
}
.letsButton {
  /* align-items: center;
  flex: auto;
  padding-left: 40%;
  padding-right: 40%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .parent {
    flex-direction: column;
    align-items: center;
  }
  .image {
    max-width: 90vw;
  }

  #part1 {
    font-size: 3rem;
    padding-left: 3rem;
    padding-right: 1rem;
  }
  #part2 {
    font-size: 1rem;
    padding-left: 3rem;
    padding-right: 1rem;
  }
  .number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10rem;
    padding-right: 10rem;
    font-size: 5vw;
    color: #254c36;

    padding-bottom: 1rem;
  }
}
