.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

.square {
  position: relative;
  height: 9em;
  width: 9em;
  background-color: black;
}
.white {
  color: white;
  padding: 0;
  transform: scale(1, -1);
  transform: scale(-1, 1);
  font-size: large;
}

.holoimage {
  min-width: 12em;
  height: 12em;
  background-size: cover;
  filter: brightness(120%);
  /* mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 50%, transparent 100%); */
}
.flex {
  display: flex;
  text-align: center;
}

.left {
  padding: 0;
  transform: rotate(-90deg);
}

.right {
  padding: 0;
  transform: rotate(90deg);
}

.bottom {
  padding: 0;
  transform: rotate(180deg);
  text-align: center;
}
.top {
  padding: 0;
  text-align: center;
}
